body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.developer-name {
  color: orange;
}

section {
  display: flex;
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 100%;
}
.link-button {
  text-decoration: none;
  font-size: 20px;
  padding: 10px 40px;
  background-image: linear-gradient(rgb(255, 145, 0), rgb(255, 123, 0));
  color: #fff;
  border-radius: 5px;
}
.top-banner {
  background-image: url(../img/top-banner.png);
  background-repeat: no-repeat;
}
