body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
.developer-name {
  color: orange;
}

section {
  margin-bottom: 100px;
}

.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 100%;
}
.link-button {
  text-decoration: none;
  font-size: 20px;
  padding: 10px 40px;
  background-image: linear-gradient(rgb(255, 145, 0), rgb(255, 123, 0));
  color: #fff;
  border-radius: 5px;
}
.top-banner {
  background-image: url(../img/top-banner.png);
  background-repeat: no-repeat;
}

.dream-big {
  background-image: url(../img/dream-bg.png);
  background-repeat: no-repeat;
  background-position: top right;
}
.flexible-container {
  display: flex;
}
.full-web,
.baby-web {
  box-shadow: 20px 20px 50px grey;
  width: 40%;
  margin-left: 5%;
  padding: 20px;
  border-radius: 15px;
}
.experience-section {
  background-image: url(../img/exp-bg.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.full-web {
  border-left: 7px solid;
  border-image: linear-gradient(rgb(255, 145, 0), rgb(223, 6, 96));
  border-image-slice: 1;
}
.baby-web {
  border-left: 7px solid;
  border-image: linear-gradient(rgb(255, 145, 0), rgb(6, 223, 71));
  border-image-slice: 1;
}
footer {
  text-align: center;
  font-size: small;
}
